@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BookmarkManagers</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>420-KEF – Travail pratique #1</h2>
        <p>Site transactionnel de gestion de favoris (bookmark) avec authentification</p>
    </div>
</div></h1>